@model GHMNUNIDADDECAPACITACION.Models.UnidaddeCaptacion

@{
    ViewBag.Title = "Edit";
}

<h2>Editar</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Formulario Requerimiento</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.idUnidaddeCaptacion)
    @Html.HiddenFor(model => model.fechacreacion)

    <div class="form-group">
        <h5></h5>
        @Html.Label("Filial", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.filial, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.filial, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <h3></h3>
        @Html.Label("Departamento", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.departamento, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.departamento, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <h3></h3>
        @Html.Label("Posicion del Empleado", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.puestoempleado, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.puestoempleado, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Fecha de Solicitud", htmlAttributes: new { @class = "control-label col-md-2" })
        <h3></h3>
        <div class="col-md-10">
            @Html.EditorFor(model => model.fechasolicitud, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.fechasolicitud, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Nombre del Área o Dpto", htmlAttributes: new { @class = "control-label col-md-2" })
        <h3></h3>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Areadepartamento, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Areadepartamento, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Curso Requerido", htmlAttributes: new { @class = "control-label col-md-2" })
     
        <div class="col-md-10">
            @Html.EditorFor(model => model.cursorequerido, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.cursorequerido, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Importancia del Curso", htmlAttributes: new { @class = "control-label col-md-2" })
        <h3></h3>
        <div class="col-md-10">
            @Html.EditorFor(model => model.importanciacurso, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.importanciacurso, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Cantidad de Empleados", htmlAttributes: new { @class = "control-label col-md-2" })
        <h3></h3>
        <div class="col-md-10">
            @Html.EditorFor(model => model.cantidadempleados, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.cantidadempleados, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Region", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Region, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Region, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Guardar" class="btn btn-default" />
        </div>
    </div>
</div>
}


